apiVersion: apps/v1
kind: Deployment
metadata:
  name: dev-portaldevops
  namespace: dev-ns-integrador
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dev-portaldevops
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: dev-portaldevops
    spec:
      containers:
        - name: dev-portaldevops
          image: "rodrigomotadevops/dev-portaldevops:8810018317"
          imagePullPolicy: "IfNotPresent"
          env:
            - name: ENVIRONMENT
              value: dev
            - name: ENDPOINT_BM_BROKER_COLETOR
              value: ${DEV_ENDPOINT_BROKER_COLETOR}
            - name: ENDPOINT_RESOURCE_BM_BROKER_COLETOR
              value: '${DEV_ENDPOINT_RESOURCE_BROKER_COLETOR}'
            - name: OTEL_EXPORTER_OTLP_ENDPOINT
              value: '${OTEL_EXPORTER_OTLP_ENDPOINT}'
            - name: 'OTEL_EXPORTER_OTLP_PROTOCOL'
              value: '${OTEL_EXPORTER_OTLP_PROTOCOL}'
            - name: 'OTEL_RESOURCE_ATTRIBUTES'
              value: '${OTEL_RESOURCE_ATTRIBUTES}=dev'   
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: 300m
              memory: 400Mi
            requests:
              cpu: 150m
              memory: 200Mi
      terminationGracePeriodSeconds: 300
